:root {
    --primary-color: #33363b;
    --secondary-color: #cfc33f;   
    --accent1-color: #368cbf;
    --accent2-color: #eaeaea;     
    --heading-font: 'Bungee', sans-serif;
    --body-font: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
.nav-links {/* consider looking at it again*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    
}
.nav-links li  {
    list-style: none;
    padding:0;
    margin: 10px 30px;
    gap: 20px;   
}
.nav-links li a {
    text-decoration: none;
    color: #cfc33f;;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    grid-template-columns: auto 1fr;
    align-items: center;
    display: grid;
    border-radius: 10px;
    margin-bottom: 20px;
}
.logo img {
    margin-left: 50px;
    height: 100px;
    padding: 10px;
    margin: 50px;
}

footer {
    display: flex;
    background-color: #33363b;
    justify-content: flex-end;
    
    


}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #cfc33f;
}

.hero article img {
    float: right;
    width: 125px;
    padding: 10px;
}

.hero article {
    position: absolute;
    bottom: 5px;
    left: 5px;
    padding: 6px;
    background-color: var(--accent1-color);
    opacity: 0.9;
    border-radius: 10px;
    
}

hero article img h2 {
    background-color: var(--accent2-color);
    margin-right: -25px;
    margin-left: -25px;
    height: 100px;

}

article h2 {
    display: none;
    
}

.main-grid {
display:grid;
object-fit: contain;


}
.history {
    border: 5px solid;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    
    
}

.history h2{
    grid-column: 1 / -1;
    justify-self: center;
    
}
.history img {
    width: 300px;
    height:auto;
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 20px;
}

.left {
    justify-self: start;
    text-align: left;
    
    
}
.right {
    justify-self: end;
    text-align: right;
    
}
.adventure {
    border: 5px solid;/*change this shit*/

}

.gallery  {
    display: flex;
    gap: 1rem;
      
}
.gallery img  {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px; 
    border: 5px solid;
    margin-top: 40px;   
}
.gallery figcaption {
    text-align: center;
}