:root {
    --primary-color: #33363b;
    --secondary-color: #368cbf;   
    --accent1-color: #368cbf;
    --accent2-color: #eaeaea;     
    --heading-font: 'Bungee', sans-serif;
    --body-font: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
.nav-links {/* consider looking at it again*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 7%;
    
}
.nav-links li  {
    list-style: none;
    padding:10px;
    gap: 20px;   
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    grid-template-columns: auto 1fr;
    align-items: center;
    display: grid;
    margin-bottom: 40px;
    
    
}
.logo img {
    height: 120px;
    padding: 10px;
    margin: 50px 50px 50px 50px;
    border: 1px solid;
}

footer {
    display: flex;
    background-color: #33363b;
    justify-content: flex-end;
    margin-top: 40px;
    

}

h1, h2, p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 50px;
}

.hero article img {
    float: right;
    width: 160px;
    padding: 10px;
    margin-right: 10px;

    
}

.hero article {
    position: absolute;
    bottom: 105px;
    left: 10px;
    padding: 0;
    background-color: var(--accent1-color);
    opacity: 0.85;
    border-radius: 10px;
    font-weight: bold;

    
    
} 
.article p {
    color: #fff;
    
    
    
}
/*
hero article img h2 {
    background-color: var(--accent2-color);
    margin-right: -25px;
    margin-left: -25px;
    height: 100px;

}
*/
article h2 {
    display: none;
    
}

.main-grid {
display:grid;
object-fit: contain;


}
.history {
    border: 5px solid;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    max-width: 840px;
    margin: 0 auto;
    margin-top: 40px;
    
    
}

.history h2{
    grid-column: 1 / -1;
    justify-self: center;
    
}
.history img  {
    width: 250px;
    height:200px;
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 20px;
    
}
.left {
    justify-self: start;
    text-align: left;
    
    
}
.right {
    justify-self: end;
    text-align: left;
}

.adventure {
    border: 5px solid;/*change this*/
    width: 840px;
    margin-left: -25px;
    margin-top: 20px;
    height:auto;
    
     

}

.gallery  {
    display: flex;
    gap: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    height: 40vh;
      
}
.gallery img  {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    height: auto;
    border-radius: 8px; 
    border: 5px solid;
    margin-top: 40px; 
    justify-self: center;  
}
.gallery figcaption {
    text-align: center;
}
/*contact us css is down here*/
.container  {
    display: flex;
    max-width: 840px;
    gap: 20px;
    margin: 0 auto;
    justify-content: space-between;
    
}
h1 {
    position: static;
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    opacity: 1;
}
.thunder {
font-size: 30px;

}

.map {
    
flex: 1;
margin-right: -10px;
}

.form box {
    
    width: 50%;
    
    
}
.aside, form {
    flex: 1;

}
form {
  padding: 15px;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #33363b;
  color: #fff
  
  
}

label {
  display: inline-block;
  
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 10px;
}
.message {
    display: flex;
   flex-wrap: wrap;    
}
.text {
    color:#fff;

}
 textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  margin-left: 130px;

}

.radio-group label {
  margin-left: 5px;
  padding: 5px;
  display: inline-block;
}

.checkbox {
  margin-top: 10px;
}

input, checkbox {
  margin-right: 1px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: #2a6d94;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #2a6d94;
}