:root {
    --primary-color: #33363b;
    --secondary-color: goldenrod;   
    --accent1-color: goldenrod;
    --accent2-color: #eaeaea;     
    --heading-font: 'Bungee', sans-serif;
    --body-font: 'Poppins', sans-serif;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    
    
    
    
}
.nav-links {/* consider looking at it again*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
    
}
.nav-links li  {
    list-style: none;
    padding: 5px;
    gap: 20px;
     
      
}

.nav-links li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: goldenrod;
    padding: 1rem;
    border-radius: 5px;
}
.nav-links li a:hover {
    background-color: gold;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
    
    
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    grid-template-columns: auto 1fr;
    align-items: center;
    display: grid;
    
    
    
    
}
.logo img {
    height: 100px;
    padding: 5px;
    margin: 50px 50px 50px 50px;
    border: 3px solid goldenrod;
}

footer {
    display: flex;
    background-color: #33363b;
    justify-content: flex-end;


    
    

    
    

}

h1, h2, p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: var(--secondary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img  {
    display: block;
    width: 100%;
    height: auto;
    
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    font-size: 50px;
}

.hero article img {
    float: right;
    width: 160px;
    padding: 10px;
    margin-right: 10px;

    
}

.hero article {
    position: absolute;
    bottom: 105px;
    left: 10px;
    padding: 0;
    background-color: var(--accent1-color);
    opacity: 0.85;
    border-radius: 10px;
    font-weight: bold;

    
    
} 
.article p {
    color: #fff;
    
    
    
}
/*
hero article img h2 {
    background-color: var(--accent2-color);
    margin-right: -25px;
    margin-left: -25px;
    height: 100px;

}
*/
article h2 {
    display: none;
    
}

.main-grid {
display:grid;
object-fit: contain;


}
.history {
    border: 5px solid;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto; 
    max-width: 840px;
    margin: 0 auto;
    margin-top: 40px;
    padding-top: 30px;
       
}

.history h2{
    grid-column: 1 / -1;
    justify-self: center;
    
}
.history img  {
    width: 250px;
    height:200px;
    justify-self: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
    border-radius: 20px;
    
}
.left {
    justify-self: start;
    text-align: left;
    
    
}
.right {
    justify-self: end;
    text-align: left;
}

.adventure {
    border: 5px solid;/*change this*/
    width: 840px;
    margin-left: -25px;
    margin-top: 20px;
    height:auto;
    padding-top: 30px;
    
     

}

.gallery  {
    display: flex;
    gap: 1rem;
    margin-right: 10px;
    margin-left: 10px;
    height: 40vh;
      
}
.gallery img  {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
    height: auto;
    border-radius: 8px; 
    border: 5px solid;
    margin-top: 40px; 
    justify-self: center;  
}
.gallery figcaption {
    text-align: center;
}
/*contact us css is down here*/
.container  {
    display: flex;
    max-width: 840px;
    gap: 20px;
    margin: 0 auto;
    justify-content: space-between;
    
}
h1 {
    position: static;
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    margin: 20px 0;
    opacity: 1;
}
.thunder {
font-size: 30px;

}

.map {
    
flex: 1;
margin-right: -10px;
}

.form box {
    
    width: 50%;
    
    
}
.aside, form {
    flex: 1;

}
form {
  padding: 15px;
  border-radius: 8px;
  width: 350px;
  
  background-color: #2F2F2F;
  color: #fff;
  
  
}

label {
  display: inline-block;
  
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding: 10px;
}
.message {
    display: flex;
   flex-wrap: wrap;    
}
.text {
    color:#fff;

}
 textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radio-group {
  margin-left: 130px;

}

.radio-group label {
  margin-left: 5px;
  padding: 5px;
  display: inline-block;
}

.checkbox {
  margin-top: 10px;
}

input, checkbox {
  margin-right: 1px;
}

button {
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background-color: goldenrod;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: gold;
}
/*My home CSS is down here*/
.wrapper {
    position: relative;
    display: grid;
    
}
.wrapper img {
    width: 100%;
    display: block;
    
    
}
.section {
    
    padding-top: 10px;
    color: goldenrod;
    
    
    
}
.heading-1 {
    color: goldenrod;
}
.heading-2  {
    color: goldenrod;
    font-size: 50px;
    
}
.wrapper-content {
    position: absolute;
    top:    40%;
    left:   50%;
    transform: translate(-50%, -80%);
    text-align: center; 
    
}
.user-form {
  
  max-width: 500px;
  margin: 50px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

.form-row {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.user-form button {
  width: 100%;
  padding: 10px;
  background-color:goldenrod;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: gold;
}
.adventure-images  {
    padding-bottom: 80px;
    background-color: #33363b;
    position: absolute;
    width: 500px;
    margin-top: -500px;
    padding-bottom: 7rem;
    border: 2px solid gold
}
/*My Trips page CSS is here*/
.hero-container {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;  
  padding-bottom: 0;

    
}
.hero-heading {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: goldenrod;
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.6);
}
.trips {
    padding: 40px 20px;
    /*background-color:#f5f5f5;*/
  text-align: center;

}
.trips h2 {
    position: absolute;
    top: 30%;
  right: 80%;
  transform: translate(0%, -20%);
  color: goldenrod;
  font-size: 4rem;
}
.pictures  {
    display: flex;
    position: absolute;
    top:25%;
    right: 20%;
    transform: translate(20%, -15%);
    color: goldenrod;
    gap: 10px;
    width: 600px;
    padding-top: 10px;
    border: 10px solid;
    background-color: #33363b;
    
}
.pictures img {
    width: 160px;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.pictures figcaption {
    border: 1px solid gold;
    
}
.trips-table {
position: absolute;
width: 600px;
height: 500px;
border-collapse: collapse;
margin: 20px auto; 
font-family: Arial, sans-serif;
top:55%;
right: 20%;
transform: translate(20%, -15%);
background-color: #2F2F2F;
  
}

.trips-table th, 
.trips-table td {
  border: 1px solid gold;
  padding: 10px;
  text-align: center;
}

.trips-table th {
  background-color: #33363b;
  color: goldenrod;
  font-size: 1.1rem;
}
.trips-table tr:hover {
  background-color: #d9edf7; 
}