* {
 /*  margin: 0;
   padding: 0;*/
   box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
body { 
    display: block;
    margin: 8px;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    
    
}
header {
    display:block;
}
main {
    grid-column: 2;
    margin: 1rem;


}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color : steelblue;
    padding : 1rem;
    display: flex;
    justify-content: space-evenly
    
}

nav a {
    
    padding : 0.5rem;
    display : block;
    text-decoration: none;
    font-size: 1.2;
    font-weight: 700;
    color: #fff;
    
    
}

h1 {
    color : steelblue;
    padding: .5rem;
    border-bottom: 5px solid;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
 main img {
    width : 150px;
    height : 150px;
    border : 1px solid steelblue;
    padding : 2px;
    box-shadow : 0 0 30px gray;
    float: right;
    margin: 0 0  1rem 1rem;
}
aside {
    display: block;
}

p {
    margin : 1rem;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}
aside h2 {
  position: absolute;
  top: 20px;
  right: 25px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
    
    
}
.indent {
  padding-left: 1rem;
  margin: 2rem 1rem;
  width: 820px;
}