* {
 /*  margin: 0;
   padding: 0;*/
   box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}
.grid {
    display: grid;
    align-items: center;
    
}


header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color : steelblue;
    padding : 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
}

nav a {
    
    padding : 10px;
    display : block;
    text-decoration: none;
    font-size: 1.2;
    font-weight: 700;
    color: #fff;
    
}

h1 {
    color : steelblue;
    padding: .5rem;
    border-bottom: 5px solid;
}

 main img {
    width : 150px;
    height : 150px;
    border : 1px solid steelblue;
    padding : 2px;
    box-shadow : 0 0 30px gray;
    float: right;
    margin: 0 0  1rem 1rem;
}

p {
    margin : 1rem;
}

aside {
    width: 20em;
    text-align: center;
    position:relative;
    grid-column: 1;
    grid-row: 1;  
}

aside {
    display: block;
}
aside img {
    width: 200px;
    height: auto;
}
aside h2 {
  position: absolute;
  top: 20px;
  right: 20px;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/*Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
    
    
}
indent {
  padding-left: 1rem;
  margin: 2rem 1rem;
  width: 820px;

}
main {
    margin: 1rem;
    

}
.grid, main {
    display: block;
}